/* Global Styles
------------------------------*/
/*
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
*/
body {
  margin: 0;
  background: lightblue;
  font-family: 'Open Sans', sans-serif;
}
.content-wrap {
  max-width: 950px;
  margin: 0 auto;
  padding: 50px;
  overflow: auto;
}
/*
col-wide{
  width: 70%;
  float: left;
}
col-narrow{
  width: 30%;
  float: left;
}
*/
h1 , h2 {
  font-family: 'Caveat', cursive;
  font-weight: 400;
}
h1 {
  font-size: 80px;
}
h2 {
  font-size: 40px;
  margin-top: 0;
}
a {
  color: #346eeb;
  text-shadow: 0 0 150px #346eeb, 0 0 60px #346eeb, 0 0 10px #346eeb;
}
a:hover {
  text-decoration: none;
  color: #FFF;
  text-shadow: 0 0 150px #FFF, 0 0 60px #FFF, 0 0 10px #FFF;
}
.flare {
    color: #FFF;
    text-shadow: 0 0 150px #FFF, 0 0 60px #FFF, 0 0 10px #FFF;
}
.flare2 {
    color: #346eeb;
    text-shadow: 0 0 150px #346eeb, 0 0 60px #346eeb, 0 0 10px #346eeb;
}
/*Navigation
-----------------------------*/
nav ul {
  text-align: left;
  list-style: none;
  display: flex;
  justify-content: space-around;
}
nav a {
  text-decoration: none;
}
ul li {
  font: bold 15px/18px sans-serif;
  display: inline-block;
  position: relative;
  padding: 15px 20px;
  cursor: pointer;
}

/*ul li:hover {
  color: #fff;
}
*/

ul li ul {
  padding: 0;
  position: absolute;
  top: 48px;
  left: -10000px;
  width: 150px;
}
ul li ul li {
  background: #2b515e;
  display: block;
  color: #fff;
  text-align: center;
  border: 1px solid white;
}
ul li ul li a {
  color:white;
}
ul li ul li:hover {
  background: #6dd4fc
}
ul li:hover ul {
  display: block;
  left: 0px;
  border: 1px solid black;
}
/* Header and Footer
------------------------------*/
header, footer {
  background: #47b0c5;
  color: white;
}
header h1, header h2 {
  color:  #e6fcf8;
  margin: 0;
}
footer {
  text-align: center;
}
.contact-info a {
  padding: 40px;
  margin: 10px;
  display: inline-block;
  text-decoration: none;
}
.profile-img {
  border-radius: 25%;
  border: 2px solid white;
  float: left;
  margin-right: 20px;
}
/* Work Experience
------------------------------*/
.work {
  background: #5bf7fc;
}
/* Education
------------------------------*/
.education {
  background: #e6fcf8;
}
.vert {
  writing-mode: vertical-rl;
}
/* RESPONSIVE! */
@media (max-width: 1000px) {
  .content-wrap {
    text-align: center;
  }
  li {
    text-transform: uppercase;
  }
  body {
    font-weight: 800;
  }
  .flare {
    font-size: 4.5em;
  }
  .flare2 {
    font-size: 4.5em;
  }
  .profile-img {
    margin-left: 35px;
    border-radius: 50%;
    transition: margin 3s, border-radius 5s;

  }
  h1 {
    clear: both;
  }
  .col-wide p {
    clear: both;
  }
}
